// Confirm deletion box
.confirm-del {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1000;

  background-color: rgba(0,0,0,.5);

  &__container{
    text-align: center;
    
    padding: 2rem 4rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.5);
    background-color: $dark-grey-2;
    color: $light-grey-3;
    border-radius: 3px;

    p {
      font-size: 2rem;
      margin-bottom: 1rem;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

  }
}