.todo-list {
  font-size: $font-size-n;
  margin: 5vw auto 0 auto;
  width: 50rem;

  @media only screen and(max-width: $screen-s) {
    width: 32rem;
  }

  &__container{
    position: relative;
    width: 30rem;
    margin: 0 auto;
    border: 1px solid black;
    background-color: $light-grey-2;
    box-shadow: 0 2rem 4rem rgba(#000, .4);

    min-height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__task-list {
    margin-bottom: auto;
    // & > :nth-child(1) {
    //   border-top: 1px solid $dark-grey-1;
    // }
    & > li {
      list-style: none;
      position: relative;
      background-color: $light-grey-3;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $dark-grey-1;
      padding-left: 1rem;
      animation: fadeIn .5s;
    }
  }


  &__close-btn {
    background-color: red;
    color: $light-grey-2;
    line-height: 1;
    font-size: 2.5rem;
    width: 2.5rem;
    height: 100%;
    border-radius: 1px;
    font-weight: 800;
    border-left: 1px solid $dark-grey-1;

    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "\00D7";
    }
    &:hover{
      cursor: pointer;  
      background-color: darken(red, 10%);
    }
  }

  &__clear-btn {
    margin: 5rem 0;
    text-align: center;

  }

  &__form {
    margin: 5rem 2rem;
    display: flex;
    justify-content: center;

    &__input {
      flex: 1;

      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 2rem;
      border-radius: 3px;
      background-color: $light-grey-3;
      border: none;
      border-bottom: 1px solid $light-grey-1;
      width: 90%;
      display: block;
      transition: all .3s;

      &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(#000, .1);
          border-bottom: 1px solid green;
      }

      &:focus:invalid {
          border-bottom: 1px solid red;
      }

      &::-webkit-input-placeholder {
          color: $dark-grey-1;
      }
      &::input-placeholder {
        color: $dark-grey-1;
     }
    }

    &__submit-btn {
      margin-left: -3px;
    }

  }

  // ERRORS

  &__error {
    
    &--danger,
    &--success,
    &--warning{
      position: absolute;
      margin: .5rem;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
      padding: .5rem 0;
      opacity: 0;
      transition: all .2s;
      animation: fadeIn .2s;
    }

    &--danger{
      background-color: $danger;
      color: $light-grey-2;
    }

    &--success{
      background-color: $color-primary;
    }

    &--warning {
      background-color: $warning;
    }
  }
}